= render 'admin_area/users/user_layout' do
  .l-page-content__content__main
    = render 'admin_area/shared/breadcrumb', items: [{ text: 'すべてのタグ' }]
    .c-tag-list-header
      .c-tag-list-header__tabs
        .c-tag-list-header__tabs__item.is-active
          = render 'shared/icons/icon-config'
          span.c-tag-list-header__tabs__item__text すべてのタグ
      .c-tag-list-header__actions
        = form_with url: admin_area_user_tags_path, method: :get, local: true, class: 'c-tag-list-header__actions__search' do |f|
          = f.text_field :q, placeholder: 'Q タグ名で検索', value: params[:q], class: 'c-tag-list-header__actions__search__input'
          = render 'shared/icons/icon-search'
        = link_to admin_area_user_tags_path, class: 'c-tag-list-header__actions__clear' do
          | クリア
        = link_to new_admin_area_user_tag_path, class: 'c-tag-list-header__actions__button' do
          = render 'shared/icons/icon-plus'
          span.c-tag-list-header__actions__button__text 新規タグ
    - if @user_tags.empty?
      .c-empty タグが見つかりません
    - else
      .c-tag-card-list
        - @user_tags.each do |tag|
          .c-tag-card
            .c-tag-card__header
              .c-tag-card__header__title = tag.name
              a.c-tag-card__header__action href='#'
                = render 'shared/icons/icon-more-vertical'
            .c-tag-card__body
              .c-tag-card__body__description = tag.description
            .c-tag-card__footer
              .c-tag-card__footer__author
                .c-tag-card__footer__author__avatar
                  = render 'shared/icons/icon-user'
                .c-tag-card__footer__author__name 作成者: #{tag.created_by_name || '-'}
    .c-table-footer
      == pagy_nav(@pagy)
