= render 'admin_area/users/user_layout' do
  .l-page-content__content__main
    = render 'admin_area/shared/breadcrumb', items: [{ text: 'すべてのタグ' }]

    .c-tag-list-header
      = form_with url: admin_area_user_tags_path, method: :get, local: true, class: 'c-tag-list-header__search' do |f|
        = f.text_field :q, placeholder: 'タグ名で検索', value: params[:q], class: 'c-tag-list-header__search__input'
        = render 'shared/icons/icon-search'
      = link_to admin_area_user_tags_path, class: 'c-tag-list-header__clear' do
        | クリア
      = link_to new_admin_area_user_tag_path, class: 'c-tag-list-header__button', data: { turbo_frame: '_top' } do
        = render 'shared/icons/icon-plus'
        span.c-tag-list-header__button__text 新規タグ

    .c-tag-list-content
      - if @user_tags.empty?
        .c-empty タグが見つかりません
      - else
        .c-tag-card-list
          - @user_tags.each do |tag|
            .c-tag-card-wrapper
              = link_to edit_admin_area_user_tag_path(tag), class: 'c-tag-card', data: { turbo_frame: '_top' } do
                .c-tag-card__header
                  .c-tag-card__header__title = tag.name
                  .c-tag-card__header__description = tag.description.presence || '-'
                .c-tag-card__footer
                  .c-tag-card__footer__author
                    .c-tag-card__footer__author__avatar
                      = render 'shared/icons/icon-user'
                    .c-tag-card__footer__author__name 作成者: #{tag.created_by_name || '-'}
              .c-tag-card__action-wrapper
                .c-tag-card__action data-dropdown-toggle="dropdown-#{tag.id}"
                  = render 'shared/icons/icon-more-vertical'
                .c-tag-card__dropdown id="dropdown-#{tag.id}"
                  = link_to admin_area_user_tag_path(tag), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？', turbo_frame: '_top' }, class: 'c-tag-card__dropdown__item' do
                    | 削除
        .c-table-footer
          == pagy_nav(@pagy)
