h1 Edit Komoju Record Account

= render 'form'

.uk-margin
  = link_to 'Show', ruler_area_tenant_komoju_records_account_path(@tenant, @komoju_account), class: 'uk-button uk-button-secondary uk-margin-small-right'
  = link_to 'Back', ruler_area_tenant_komoju_records_accounts_path(@tenant), class: 'uk-button uk-button-secondary'
