.p-auth-login
  .p-auth-login__title
    = vite_image_tag 'images/idp-logo.svg', alt: 'IDP', class: 'p-auth-login__title__logo'
    span.p-auth-login__title__tenant = Tenant.current.name
  = button_to '管理画面にログイン', '/admin/auth/auth0', method: :post, class: 'p-auth-login__button', form: { class: 'p-auth-login__form' }, data: { turbo: false }

