.uk-margin-top.uk-container
  h2 Shopify Multipass設定 編集

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = form_with model: @multipass_store, url: ruler_area_tenant_shopify_multipass_store_path(@tenant_id), method: :put do |f|
      = render 'form', f: f
