.uk-margin-top.uk-container
  h2 ユーザプロフィール編集

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = form_with model: @user_profile, url: admin_area_user_user_profile_path, method: :put, class: 'uk-form-horizontal' do |f|
      = render 'form', f: f
