.uk-margin-top.uk-container
  h2 メールテンプレート編集

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = form_with model: @email_template, url: ruler_area_tenant_email_template_path(@tenant_id), method: :put do |f|
      = render 'form', f: f
