.uk-margin-top.uk-container
  h2 OAuth Application 一覧

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    - if @oauth_applications.empty?
      p.uk-text-lead
        | No OAuth Applications found
    - else
      .uk-flex.uk-flex-right
        = link_to "新規登録", new_admin_area_oauth_application_path, class: "uk-button uk-button-primary"

      table.uk-table.uk-table-divider
        tr
          th = OauthApplication.human_attribute_name(:id)
          th = OauthApplication.human_attribute_name(:name)
          th = OauthApplication.human_attribute_name(:uid)
          th = OauthApplication.human_attribute_name(:scopes)
          th = OauthApplication.human_attribute_name(:enable_client_credential_flow)
        - @oauth_applications.each do |oauth_application|
          tr
            td
              = oauth_application.id
            td
              = oauth_application.name
            td
              = oauth_application.uid
            td
              = oauth_application.scopes
            td
              = oauth_application.enable_client_credential_flow
            td
              = link_to "詳細", admin_area_oauth_application_path(oauth_application), class: "uk-button uk-button-secondary"

    == pagy_nav(@pagy)
