.l-page-content {
  display: grid;
  grid-template-columns: 296px 1fr;
  &__navigation {
    padding: 24px;
    background-color: var(--color-background-gray-light);
    display: grid;
    gap: 4px;
    align-content: start;
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      gap: 8px;
      padding: 0 8px;
      border-radius: 4px;
      font-size: 14px;
      &.is-active {
        background-color: var(--color-primary);
        color: var(--color-primary-contrast);
      }
      &__count {
        font-size: 8px;
        font-weight: 700;
      }
      &__chevron {
        transform: rotate(180deg);
        svg {
          display: block;
          aspect-ratio: 1;
          width: 10px;
          height: auto;
        }
      }
    }
    &__checkbox {
      display: none;
      &:checked + .l-page-content__navigation__item {
        .l-page-content__navigation__item__chevron {
          transform: none;
        }
        & + .l-page-content__navigation__children {
          display: grid;
        }
      }
    }
    &__children {
      padding-left: 32px;
      gap: 4px;
      display: none;
      &__item {
        height: 32px;
        padding: 0 8px;
        border-radius: 4px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 32px;
        &.is-active {
          background-color: var(--color-primary);
          color: var(--color-primary-contrast);
        }
      }
    }
  }
  &__content {
    border-left: 1px solid var(--color-border);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;
    &__main {
      overflow: hidden;
    }
    &__sub {
      max-width: 320px;
      border-left: 1px solid var(--color-border);
      &:empty {
        display: none;
      }
    }
  }
}
