.uk-margin-top.uk-container
  h2 Tenant詳細設定 新規作成

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = form_with model: @tenant_setting, url: ruler_area_tenant_tenant_settings_path(@tenant_id), method: :post do |f|
      = render 'form', f: f
