.uk-margin-top.uk-container
  h2 メールテンプレート編集

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = form_with model: @email_template, url: admin_area_email_template_path, method: :put do |f|
      = render 'form', f: f
