.uk-margin-top.uk-container
  h2 メールテンプレート詳細

  .uk-flex.uk-flex-right
    = link_to "編集", edit_admin_area_email_template_path(@email_template), class: "uk-button uk-button-primary"
    .uk-margin-left
    = link_to "削除", admin_area_email_template_path(@email_template), data: { turbo_method: :delete, turbo_confirm: "一度削除したデータを戻せません。本当に削除しますか？" }, class: 'uk-button uk-button-danger'

  table.uk-table
    tr
      th = EmailTemplate.human_attribute_name(:id)
      td
        = @email_template.id
    tr
      th = EmailTemplate.human_attribute_name(:template_type)
      td
        = @email_template.template_type
    tr
      th = EmailTemplate.human_attribute_name(:name)
      td
        = @email_template.name
    tr
      th = EmailTemplate.human_attribute_name(:subject)
      td
        = @email_template.subject
    tr
      th = EmailTemplate.human_attribute_name(:body)
      td
        = @email_template.body
