.uk-margin
  label.uk-form-label
    = label
    - if required
      span.uk-text-danger *
  .uk-form-controls
    - if editable
      = date_field_tag field_name, value, class: 'uk-input'
    - else
      = date_field_tag field_name, value, class: 'uk-input', disabled: true
      = hidden_field_tag field_name, value
