.uk-margin-top.uk-container
  nav.uk-breadcrumb aria-label="Breadcrumb"
    li
      = link_to "テナント一覧", ruler_area_tenants_path
    li
      = link_to @tenant.name, ruler_area_tenant_root_path(@tenant)
    li
      = link_to "メンバーシップ管理", top_ruler_area_tenant_memberships_path(@tenant)
    li
      = link_to "メンバーシップグループ一覧", ruler_area_tenant_memberships_groups_path(@tenant)
    li
      = link_to @membership_group.display_name, ruler_area_tenant_memberships_group_path(@tenant, @membership_group)
    li
      span メンバーシップ紐づけ

  h2 メンバーシップ紐づけ

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    h3 = "#{@membership_group.display_name}にメンバーシップを紐づける"

    = form_with url: update_memberships_ruler_area_tenant_memberships_group_path(@tenant_id, @membership_group), method: :patch, local: true do |f|
      .uk-margin
        p.uk-text-meta このグループに紐づけるメンバーシップを選択してください（複数選択可能）

      .uk-margin
        - if @memberships.empty?
          p.uk-text-lead メンバーシップが登録されていません
        - else
          - @memberships.each do |membership|
            .uk-margin-small
              label.uk-form-label
                = check_box_tag "membership_ids[]", membership.id, @assigned_membership_ids.include?(membership.id), class: "uk-checkbox uk-margin-right"
                = membership.display_name
                span.uk-text-meta.uk-margin-left = "(#{membership.name})"

      .uk-margin-top
        = f.submit "紐づけを更新", class: "uk-button uk-button-primary uk-margin-right"
        = link_to "キャンセル", ruler_area_tenant_memberships_group_path(@tenant_id, @membership_group), class: "uk-button uk-button-secondary"
