.l-page {
  display: grid;
  grid-template-areas: 'contents';
  grid-template-columns: 1fr;
  height: 100vh;
  position: relative;
}

.l-page-contents {
  grid-area: contents;
  padding: 0 24px 72px;
  position: relative;
  overflow-x: hidden;
}

