.ua-auth-container
  .ua-auth-content
    / 左サイドパネル（PC版のみ表示）
    - side_style = @design_settings&.login_side_image_url.present? ? "background-image: url(#{@design_settings.login_side_image_url}); background-size: cover; background-position: center;" : nil
    .ua-auth-side style=side_style
      - unless @design_settings&.login_side_image_url.present?
        .ua-auth-side__icon
          svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            line x1="5" y1="12" x2="19" y2="12"
            polyline points="12 5 19 12 12 19"
        h2.ua-auth-side__title 新規会員登録
        p.ua-auth-side__subtitle またはログイン

    / 右メインエリア
    .ua-auth-main
      .ua-auth-card
        / ヘッダー（SP版のみ表示）
        .ua-auth-header
          h1.ua-auth-title 新規登録

        / ボディ
        .ua-auth-body
          / フラッシュメッセージ
          - if flash[:error].present?
            .ua-alert.ua-alert--error.uk-margin-bottom
              = flash[:error]

          / 説明文
          - if @design_settings&.description_text.present?
            .ua-auth-description
              = simple_format(@design_settings.description_text)

          / 新規登録フォーム
          = form_with url: sign_up_path, method: :post, local: true, class: 'ua-form' do |f|
            .ua-form__group
              label.ua-form__label メールアドレス
              = f.email_field :email, value: @email, class: 'ua-form__input', placeholder: 'email@example.com', required: true, autofocus: true

            .uk-margin-large-top
              = f.submit '認証コードを送信', class: 'ua-btn ua-btn--lg ua-btn--primary'

            / ログインボタン
            .uk-margin-top
              = link_to 'ログインはこちら', login_path, class: 'ua-btn ua-btn--lg ua-btn--secondary'

  / フッター
  = render 'user_area/shared/footer'
