.uk-margin-top.uk-container
  nav.uk-breadcrumb aria-label="Breadcrumb"
    li
      = link_to "テナント一覧", ruler_area_tenants_path
    li
      = link_to @tenant.name, ruler_area_tenant_root_path(@tenant)
    li
      = link_to "メンバーシップ管理", top_ruler_area_tenant_memberships_path(@tenant)
    li
      = link_to "メンバーシッププラン一覧", ruler_area_tenant_memberships_plans_path(@tenant)
    li
      span 新規作成

  h2 メンバーシッププラン新規作成

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = form_with model: @membership_plan, url: ruler_area_tenant_memberships_plans_path(@tenant_id), local: true do |f|
      = render 'form', f: f, membership_plan: @membership_plan
