.uk-margin-top.uk-container
  nav.uk-breadcrumb aria-label="Breadcrumb"
    li
      = link_to "テナント一覧", ruler_area_tenants_path
    li
      = link_to @tenant.name, ruler_area_tenant_root_path(@tenant)
    li
      = link_to "メンバーシップ管理", top_ruler_area_tenant_memberships_path(@tenant)
    li
      = link_to "メンバーシップグループ一覧", ruler_area_tenant_membership_groups_path(@tenant)
    li
      = link_to @membership_group.display_name, ruler_area_tenant_membership_group_path(@tenant, @membership_group)
    li
      span 編集

  h2 メンバーシップグループ編集

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = form_with model: @membership_group, url: ruler_area_tenant_membership_group_path(@tenant_id, @membership_group), method: :put, local: true do |f|
      = render 'form', f: f, membership_group: @membership_group
