.ua-auth-container
  .ua-auth-content
    .ua-auth-card
      / ヘッダー
      .ua-auth-header
        h1.ua-auth-title ログイン

      / ボディ
      .ua-auth-body
        / フラッシュメッセージ
        - if flash[:error].present?
          .ua-alert.ua-alert--error.uk-margin-bottom
            = flash[:error]

        / ログインフォーム
        = form_with url: login_path, method: :post, local: true, class: 'ua-form' do |f|
          .ua-form__group
            label.ua-form__label メールアドレス
            = f.email_field :email, value: @email, class: 'ua-form__input', placeholder: 'example@example.com', required: true, autofocus: true

          .ua-form__group
            label.ua-form__label パスワード
            = f.password_field :password, class: 'ua-form__input', placeholder: 'パスワード', required: true

          .uk-margin-medium-top
            = f.submit 'ログイン', class: 'ua-btn ua-btn--lg ua-btn--primary'

        / パスワードリセットリンク
        .uk-text-center.uk-margin-top
          = link_to 'パスワードを忘れた方はこちら', '#', class: 'ua-link'

        / 新規登録リンク
        .ua-auth-footer
          p.uk-margin-small-bottom アカウントをお持ちでない方
          = link_to '新規登録はこちら', sign_up_path, class: 'ua-btn ua-btn--md ua-btn--secondary ua-btn--full-width'

  / フッター
  footer.ua-footer
    .ua-footer__copyright
      | &copy; #{Time.current.year} All Rights Reserved.
