.l-page
  .uk-section
    .uk-flex.uk-flex-center
      .uk-card.uk-card-default.uk-card-body.card-width-narrow
        h3.uk-card-title ログイン

        - if flash[:error].present?
          .uk-alert.uk-alert-danger
            p = flash[:error]

        = form_with url: login_path, method: :post, local: true do |f|
          .uk-margin
            label.uk-form-label メールアドレス
            .uk-form-controls
              = f.email_field :email, value: @email, class: 'uk-input', placeholder: 'example@example.com', required: true, autofocus: true

          .uk-margin
            label.uk-form-label パスワード
            .uk-form-controls
              = f.password_field :password, class: 'uk-input', placeholder: 'パスワード', required: true

          .uk-margin
            = f.submit 'ログイン', class: 'uk-button uk-button-primary uk-width-1-1'

        .uk-margin-top.uk-text-center
          = link_to '新規登録はこちら', sign_up_path
