h2 = @template.name

.uk-margin-top.uk-card.uk-card-default.uk-card-body
  .uk-margin
    label.uk-form-label テンプレート名
    .uk-panel.uk-panel-box.uk-padding-small style="border: 1px solid #e5e5e5; background: #fafafa;"
      = @template.name
