.uk-margin-top.uk-container
  / Breadcrumb
  - breadcrumb_items = [{ text: '配信' }, { text: 'テンプレート' }]
  = render 'admin_area/shared/breadcrumb', items: breadcrumb_items

  .uk-flex.uk-flex-between.uk-flex-middle.uk-margin-bottom.uk-margin-top
    h2 テンプレート一覧

  .uk-card.uk-card-default.uk-card-body.uk-margin-bottom
    .uk-flex.uk-flex-between.uk-flex-middle
      .uk-width-2-3
        = form_with url: admin_area_templates_path, method: :get, class: "uk-search uk-search-default uk-width-1-1" do |f|
          = f.text_field :q, placeholder: "メールテンプレートを検索...", value: params[:q], class: "uk-search-input", onkeypress: "console.log('Search:', this.value)"
      .uk-width-1-3.uk-text-right
        = link_to new_admin_area_template_path, class: "uk-button uk-button-primary" do
          span uk-icon="plus"
          |  メールテンプレートの作成

  .uk-card.uk-card-default.uk-card-body
    - if @templates.empty?
      p.uk-text-lead テンプレートが見つかりません
    - else
      table.uk-table.uk-table-divider.uk-table-hover
        thead
          tr
            th 名前
            th 公開中バージョン
        tbody
          - @templates.each do |template|
            tr
              td
                = link_to template.name, admin_area_template_path(template.id)
              td = template.published_version

    .uk-flex.uk-flex-between.uk-flex-middle.uk-margin-top
      .uk-text-small.uk-text-muted
        | #{@pagy.from}-#{@pagy.to} / #{@pagy.total_count}
      .uk-flex.uk-flex-middle
        button.uk-button.uk-button-default.uk-button-small disabled=(@pagy.prev.nil?) onclick="console.log('Previous page')"
          | < 前のページ
        button.uk-button.uk-button-default.uk-button-small.uk-margin-left disabled=(@pagy.next.nil?) onclick="console.log('Next page')"
          | 次のページ >
