.uk-margin-top.uk-container
  / Breadcrumb
  = render 'breadcrumb'

  / Template Name Section
  = render 'template_header'

  / Distribution Templates Section
  = render 'distribution_templates'

/ Modals
- if @has_mail_template
  = render 'schedule_modal'
