- if @stripe_record_product.present?
  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    h2 商品名
      | #{@stripe_record_product.name} - #{@stripe_record_product.remote_id}

    h2 プラン情報
    table
      thead
        tr
          th 価格の説明
          th 価格（円）
          th 請求間隔
          th 状態
      tbody
        - @stripe_record_product.prices.each do |price|
          tr
            td= price.name || '-'
            td= price.amount
            td #{price.interval_count}#{price.interval_unit_text}毎
            td= price.deleted_text
