h1 Edit Tenant Komoju Account

= render 'form'

.uk-margin
  = link_to 'Show', ruler_area_tenant_tenant_komoju_account_path(@tenant), class: 'uk-button uk-button-secondary uk-margin-small-right'
  = link_to 'Back', ruler_area_tenant_path(@tenant), class: 'uk-button uk-button-secondary'
