.c-checkbox {
  display: inline-grid;
  place-items: center;
  vertical-align: middle;
  &__input {
    display: none;
    &:checked + .c-checkbox__checkbox::before {
      width: 12px;
      height: 12px;
    }
  }
  &__checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    display: inline-grid;
    place-items: center;
    box-sizing: border-box;
    &::before {
      content: '';
      width: 0;
      height: 0;
      background-color: var(--color-primary);
      border-radius: 2px;
      transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
    }
  }
}
