// タグリストヘッダーコンポーネント
.c-tag-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
  gap: 8px;

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__search-form {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;

    &__input {
      width: 174px;
      padding: 7px 7px 7px 31px;
      line-height: 14px;
      font-size: 14px;
      height: 14px;
      border: 1px solid var(--color-border);
      border-radius: 8px;
      box-shadow: var(--box-shadow);
    }

    svg {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(-50%, -50%);
      display: block;
      aspect-ratio: 1;
      width: 14px;
      height: auto;
      color: var(--color-text-heading);
      pointer-events: none;
    }
  }

  &__search-button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    box-shadow: var(--box-shadow);
    font-family: var(--font-family);

    &:hover {
      background-color: var(--color-text-heading);
      border-color: var(--color-text-heading);
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    color: var(--color-text-inactive);
    text-decoration: none;
    transition: background-color 0.2s, border-color 0.2s;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;

    &:hover {
      background-color: var(--color-background-gray);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    line-height: 14px;

    &:hover {
      color: var(--color-primary-contrast);
    }

    svg {
      display: block;
      aspect-ratio: 1;
      width: 14px;
      height: auto;
    }

    &__text {
      font-size: 14px;
    }
  }
}

