// タグリストコンテンツラッパー
.c-tag-list-content {
  padding: 24px;
}

// タグカードコンポーネント
.c-tag-card-list {
  display: grid;
  gap: 16px;
  overflow-y: auto;
}

.c-tag-card {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  display: grid;
  padding: 24px;
  gap: 16px;
  color: var(--color-text-inactive);

  &__header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 8px 24px;


    &__title {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-text-body);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__action {
      display: grid;
      place-items: center;
      padding: 4px;
      border-radius: 4px;
      text-decoration: none;

      &:hover {
        background-color: var(--color-background-gray);
      }

      svg {
        display: block;
        aspect-ratio: 1;
        width: 16px;
        height: auto;
      }
    }
    &__description {
      font-size: 12px;
      line-height: 1.6;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &__body {
    &__description {
      font-size: 12px;
      line-height: 1.6;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;

    &__author {
      display: flex;
      align-items: center;
      gap: 8px;

      &__name {
        font-size: 13px;
      }
    }
  }
}

