@use 'user-detail-common.scss' as common;

// タグコンポーネント
.c-user-detail-tag {
  @include common.c-user-detail-common;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(97px, 1fr));
    gap: 8px;
  }

  &__item {
    padding: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 13px;
    background-color: var(--color-tag-background);
    color: var(--color-tag-text);
    min-width: 97px;
    line-height: 13px;
    height: 13px;

    &__text {
      color: inherit;
    }

    &__remove,
    &__lock {
      svg {
        display: block;
        object-fit: contain;
        aspect-ratio: 1;
        width: auto;
        height: 10px;
        color: var(--color-text-inactive);
      }
    }

    &.is-auto-tag {
      background-color: var(--color-auto-tag-background);
      color: var(--color-auto-tag-text);
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 13px;
    padding: 5px;
    border: 1px dashed rgba(black, .1);
    border-radius: 6px;
    color: rgba(black, .3);
    text-decoration: none;
    justify-self: start;
    height: 13px;
    line-height: 13px;

    svg {
      object-fit: contain;
      aspect-ratio: 1;
      width: auto;
      height: 10px;
    }

    &__text {
      color: inherit;
    }
  }
}

