/ Delivery Info Card
.uk-card.uk-card-default.uk-card-body.uk-margin-bottom
  dl.uk-description-list
    dt 配信方法
    dd
      span.uk-label Eメール

    dt 配信テンプレート
    dd = delivery.template&.name || '未設定'

    dt ユーザータグ
    dd
      - if delivery.user_tags.any?
        - delivery.user_tags.each do |tag|
          span.uk-badge.uk-margin-small-right = tag.name
      - else
        | 未設定
