- icon_map = { 'created' => 'file-text', 'updated' => 'pencil', 'published' => 'calendar', 'cancelled' => 'ban', 'paused' => 'ban', 'resumed' => 'play', 'sent' => 'mail', 'failed' => 'warning' }
- icon = icon_map[event.event_type] || 'info'
span uk-icon="icon: #{icon}; ratio: 0.6"
