.uk-margin-top.uk-container
  / Breadcrumb
  - breadcrumb_items = [{ text: '配信' }, { text: '配信イベント', link: admin_area_deliveries_path }, { text: '新規作成' }]
  = render 'admin_area/shared/breadcrumb', items: breadcrumb_items

  h2 配信イベント作成

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    = render 'form', delivery: @delivery, templates: @templates, user_tags: @user_tags
