= render 'ruler_area/shared/form_error', target: f.object
.uk-margin
  = f.label :name
  = f.text_field :name, class: "uk-input"
.uk-margin
  = f.label :login_url
  = f.text_field :login_url, class: "uk-input"
.uk-margin
  = f.label :sign_up_url
  = f.text_field :sign_up_url, class: "uk-input"
.uk-margin
  = f.label :redirect_url_on_password_reset
  = f.text_field :redirect_url_on_password_reset, class: "uk-input"
.uk-margin
  = f.label :confidential
  = f.check_box :confidential, :as => :boolean, class: "uk-checkbox"
.uk-margin
  = f.label :scopes
  .uk-article
    p.uk-article-meta
      | 現在未対応
  = f.text_field :scopes, class: "uk-input"

h3.uk-heading-line.uk-margin-top
  span ログイン設定
.uk-margin
  label.uk-form-label
    = f.check_box :enable_web_login, class: "uk-checkbox"
    |  Web ログインを有効化
.uk-margin
  label.uk-form-label
    = f.check_box :enable_api_login, class: "uk-checkbox"
    |  API ログインを有効化

h3.uk-heading-line.uk-margin-top
  span サインアップ設定
.uk-margin
  label.uk-form-label
    = f.check_box :enable_web_sign_up, class: "uk-checkbox"
    |  Web サインアップを有効化
.uk-margin
  label.uk-form-label
    = f.check_box :enable_api_sign_up, class: "uk-checkbox"
    |  API サインアップを有効化

= f.submit class: "uk-button uk-button-default"
