doctype html
html lang='ja'
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'
    meta http-equiv='content-language' content='ja'
    / title = Tenant.current.name
    title = "Tenant.current.name"
    / link rel='icon' href=vite_asset_path('images/admin_area/favicon.svg')
    = vite_client_tag
    / = vite_typescript_tag 'entrypoints/user_area/application'
    = csrf_meta_tags
  body
    = render 'layouts/user_area/flash'
    div.uk-navbar-container.rl-navbar-container uk-sticky=''
      .uk-container.uk-container-expand
        nav.uk-navbar
          .uk-navbar-left
            ul.uk-navbar-nav
              a.uk-navbar-item.uk-logo
                / = Tenant.current.name
                = "Tenant.current.name"
          .uk-navbar-right
            ul.uk-navbar-nav class='uk-visible@m'
            a.uk-navbar-toggle.uk-icon.uk-navbar-toggle-icon aria-expanded='false' class='uk-hidden@m' href='#offcanvas' uk-navbar-toggle-icon='' uk-toggle='target: #offcanvas-sidebar'
    .uk-container.uk-container-expand
      = yield

    #offcanvas-sidebar uk-offcanvas=""
      .uk-offcanvas-bar
        button.uk-offcanvas-close type='button' uk-close=''
