doctype html
html lang='ja'
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'
    meta http-equiv='content-language' content='ja'
    / title = Tenant.current.name
    title = "Tenant.current.name"
    / link rel='icon' href=vite_asset_path('images/admin_area/favicon.svg')
    = vite_client_tag
    = vite_typescript_tag 'entrypoints/admin_area/application'
    = csrf_meta_tags
  body.l-page
    .l-page-sidebar
        .uk-width-medium.uk-height-1-1.uk-section-secondary
          .uk-container.uk-height-1-1
            h3.uk-padding.uk-padding-remove-horizontal
              = Tenant.current.name
            .tg-sidebar-section
              ul.uk-nav.uk-nav-default
                ul.uk-parent
                  a 会員ID管理
                  ul.uk-nav-sub
                    li
                      a 会員ID一覧
            .tg-sidebar-section.bottom
              ul.uk-nav.uk-nav-default
                li アカウント
                li = @current_admin&.email
                li = link_to 'ログアウト', admin_area_logout_path

    .l-page-contents
      = render 'layouts/admin_area/flash'
      = yield
