= render 'admin_area/shared/form_error', target: f.object
.uk-margin
  = f.label :email, class: 'uk-form-label'
  .uk-form-controls
    = f.text_field :email, class: "uk-input"
.uk-margin
  = f.label :phone_number, class: 'uk-form-label'
  .uk-form-controls
    em 注意: 国際電話番号のフォーマットにする必要あり(例: +818012345678)
    = f.text_field :phone_number, class: "uk-input"
.uk-margin
  = f.label :enabled, class: 'uk-form-label'
  .uk-form-controls
    = f.check_box :enabled, :as => :boolean, class: "uk-checkbox"
.uk-margin
  = f.label :sms_verified, class: 'uk-form-label'
  .uk-form-controls
    = f.check_box :sms_verified, :as => :boolean, class: "uk-checkbox"
.uk-margin
  = f.label :suppress_sms_verification, class: 'uk-form-label'
  .uk-form-controls
    = f.check_box :suppress_sms_verification, :as => :boolean, class: "uk-checkbox"
.uk-margin
  = f.label :email_verified, class: 'uk-form-label'
  .uk-form-controls
    = f.check_box :email_verified, :as => :boolean, class: "uk-checkbox"
.uk-margin
  = f.label :deleted, class: 'uk-form-label'
  .uk-form-controls
    = f.check_box :deleted, :as => :boolean, class: "uk-checkbox"
.uk-margin
  = f.label :lock_expired_at, class: 'uk-form-label'
  .uk-form-controls
    = f.datetime_select :lock_expired_at, { include_blank: true }


= f.submit class: "uk-button uk-button-default"
