= turbo_frame_tag "detail" do
  .p-user-detail
    .p-user-detail__header
      a.p-user-detail__header__close href='#'
        = render 'shared/icons/icon-close'
      .p-user-detail__header__title = @user.user_profile&.name || @user.email
      = link_to admin_area_user_path(@user), class: "p-user-detail__header__link", data: { turbo_frame: 'content' } do
        = render 'shared/icons/icon-external-link'
    .p-user-detail__content
      - unless Rails.env.production?
        .p-user-detail__content__section
          .p-user-detail__content__section__plan
            - 1..3.times do |i|
              .p-user-detail__content__section__plan__item
                .p-user-detail__content__section__plan__item__plan-header
                  .p-user-detail__content__section__plan__item__plan-name Plan #{i}
                  .p-user-detail__content__section__plan__item__plan-status.is-success 継続中
                .p-user-detail__content__section__plan__item__plan-content
                  .p-user-detail__content__section__plan__item__plan-duration 3ヶ月継続
                  .p-user-detail__content__section__plan__item__plan-total 累計8ヶ月
      - unless Rails.env.production?
        .p-user-detail__content__section
          .c-user-detail-memo
            .c-user-detail-memo__label 内部メモ
            .c-user-detail-memo__edit
              .c-user-detail-memo__edit__textarea このユーザーには注意してくださいこのユーザーには注意してください
      - if feature_enabled?(:user_tag)
        .p-user-detail__content__section
          .c-user-detail-tag
            label.c-user-detail-tag__label タグ
            .c-user-detail-tag__list
              - if @user.tag_assignments.any?
                - @user.tag_assignments.includes(:user_tag, :user_auto_tagging).each do |assignment|
                  - is_auto = !assignment.manual?
                  .c-user-detail-tag__item class=(is_auto ? 'is-auto-tag' : nil)
                    .c-user-detail-tag__item__text = assignment.user_tag&.name || '-'
                    - if is_auto
                      a.c-user-detail-tag__item__lock href='#' aria-label='auto tag' title="オートタギング: #{assignment.user_auto_tagging&.name}"
                        = render 'shared/icons/icon-lock'
              - else
                .c-empty style="width: 100%;"
                  .c-empty__text タグが設定されていません
              = link_to admin_area_user_user_tag_assignments_path(@user), class: "c-user-detail-tag__add", data: { turbo_frame: 'modal-frame' } do
                = render 'shared/icons/icon-plus'
                span.c-user-detail-tag__add__text タグを追加
      .p-user-detail__content__section
        .p-user-detail__content__section__label
          | アカウント
          = link_to edit_admin_area_user_path(@user), class: "p-user-detail__content__section__label__edit", data: { turbo_frame: 'modal-frame' } do
            = render 'shared/icons/icon-edit'
            | 編集する
        .c-info
          .c-info__item
            .c-info__item__label ID
            .c-info__item__value = @user.id
          /- TODO: 会員番号機能が実装されたら有効化
          /  .c-info__item
          /    .c-info__item__label 会員番号
          /    .c-info__item__value = @user.member_number || '-'
          .c-info__item
            .c-info__item__label 名前
            .c-info__item__value = @user.user_profile&.name
          .c-info__item
            .c-info__item__label メールアドレス
            .c-info__item__value
              = @user.email
              .c-info__item__value__status
                = render 'shared/icons/icon-check-circle-fill'
          .c-info__item
            .c-info__item__label 電話番号
            .c-info__item__value
              = @user.phone_number
              .c-info__item__value__status.is-error
                = render 'shared/icons/icon-attention-circle-fill'
          .c-info__item
            .c-info__item__label 年代
            .c-info__item__value
              - if @user&.user_profile&.age_range.present?
                = @user&.user_profile&.age_range
                | 代
              - else
                | -
          .c-info__item
            .c-info__item__label アカウント作成日
            .c-info__item__value = local_time(@user.created_at)
          .c-info__item
            .c-info__item__label アカウント削除日
            .c-info__item__value
              = @user.deleted_at || '-'
      .p-user-detail__content__section
        .p-user-detail__content__section__label
          | プロフィール
          = link_to edit_admin_area_user_user_profile_path(@user), class: "p-user-detail__content__section__label__edit", data: { turbo_frame: 'modal-frame' } do
            = render 'shared/icons/icon-edit'
            | 編集する
        .c-info
          .c-info__item.c-info__item--row
            .c-info__item
              .c-info__item__label = UserProfile.human_attribute_name(:last_name)
              .c-info__item__value = @user&.user_profile&.last_name
            .c-info__item
              .c-info__item__label = UserProfile.human_attribute_name(:first_name)
              .c-info__item__value = @user&.user_profile&.first_name
          .c-info__item.c-info__item--row
            .c-info__item
              .c-info__item__label = UserProfile.human_attribute_name(:last_name_kana)
              .c-info__item__value = @user&.user_profile&.last_name_kana
            .c-info__item
              .c-info__item__label = UserProfile.human_attribute_name(:first_name_kana)
              .c-info__item__value = @user&.user_profile&.first_name_kana
          .c-info__item
            .c-info__item__label = UserProfile.human_attribute_name(:birth_date)
            .c-info__item__value = @user&.user_profile&.birth_date
          .c-info__item
            .c-info__item__label = UserProfile.human_attribute_name(:gender)
            .c-info__item__value = @user&.user_profile&.gender&.text

      .p-user-detail__content__section
        .p-user-detail__content__section__label
          | 配送先住所
          - if @user.contact_address.present?
            = link_to edit_admin_area_user_contact_address_path(@user), class: "p-user-detail__content__section__label__edit", data: { turbo_frame: 'modal-frame' } do
              = render 'shared/icons/icon-edit'
              | 編集する
          - else
            = link_to new_admin_area_user_contact_address_path(@user), class: "p-user-detail__content__section__label__edit", data: { turbo_frame: 'modal-frame' } do
              = render 'shared/icons/icon-edit'
              | 作成する
        - if @user.contact_address.present?
          .c-info
            .c-info__item
              .c-info__item__label = ContactAddress.human_attribute_name(:zip_code)
              .c-info__item__value = @user&.contact_address&.zip_code
            .c-info__item
              .c-info__item__label = ContactAddress.human_attribute_name(:prefecture)
              .c-info__item__value = @user&.contact_address&.prefecture&.name
            .c-info__item
              .c-info__item__label = ContactAddress.human_attribute_name(:city)
              .c-info__item__value = @user&.contact_address&.city
            .c-info__item
              .c-info__item__label = ContactAddress.human_attribute_name(:street)
              .c-info__item__value = @user&.contact_address&.street
            .c-info__item
              .c-info__item__label = ContactAddress.human_attribute_name(:building)
              .c-info__item__value = @user&.contact_address&.building
            .c-info__item
              .c-info__item__label = ContactAddress.human_attribute_name(:phone_number)
              .c-info__item__value = @user&.contact_address&.phone_number
            .c-info__item
              .c-info__item__label 国
              .c-info__item__value
                - if @user&.contact_address&.country_code.present?
                  - country = ISO3166::Country[@user.contact_address.country_code]
                  = country&.translations&.dig('ja') || country&.name || @user.contact_address.country_code
                - else
                  | -
        - else
          .c-empty
            .c-empty__text 配送先住所が設定されていません
      - unless Rails.env.production?
        .p-user-detail__content__section
          .c-user-detail-activity
            .c-user-detail-activity__label アクティビティ
            .c-user-detail-activity__list
              - # TODO: 実際のアクティビティデータに置き換え
              - activities = [{ icon: 'icon-activity-award', kind: 'success', date: '2025-12-31 23:59', text: 'ゴールド会員に昇格しました' }, { icon: 'icon-activity-birthday', kind: 'notice', date: '2025-12-31 23:59', text: 'Plan Aを購読して1年が経ちました' }, { icon: 'icon-activity-update', kind: 'success', date: '2025-12-31 23:59', text: 'Membership Aの更新に成功しました' }, { icon: 'icon-activity-purchase', kind: 'default', date: '2025-12-31 23:59', text: 'Plan Aの購読を開始しました' }, { icon: 'icon-activity-purchase', kind: 'default', date: '2025-12-31 23:59', text: '買い切り Plan Aを購入申込しました' }]
              - activities.each do |activity|
                .c-user-detail-activity__item
                  .c-user-detail-activity__item__icon data-kind="#{activity[:kind]}"
                    = render 'shared/icons/icon-activity-purchase'
                  .c-user-detail-activity__item__date = activity[:date]
                  .c-user-detail-activity__item__text = activity[:text]

