= render 'admin_area/users/user_layout' do
  .p-user-tag-form data-controller="form-validation"
    .p-user-tag-form__breadcrumb
      = render 'admin_area/shared/breadcrumb_v202601', items: [{ text: 'すべてのユーザー', link: admin_area_users_path }, { text: '新規登録' }]
    .l-page-content__content__main.p-user-tag-form__content__main
      = form_with model: @user, url: admin_area_users_path, method: :post, local: true, data: { turbo_frame: '_top', form_validation_target: 'form' }, html: { id: 'new_user_form' } do |f|
        = render 'admin_area/shared/form_error', target: f.object
        .c-form
          .c-form-field
            label.c-form-field__label メールアドレス
            = f.email_field :email, placeholder: 'mail@example.com', class: 'c-form-field__input', required: true
          = f.fields_for :user_profile do |pf|
            .c-form-field
              label.c-form-field__label 氏名
              .c-form-field__input-group
                .c-form-field__input-group__input
                  = pf.text_field :last_name, placeholder: '姓', class: 'c-form-field__input'
                .c-form-field__input-group__input
                  = pf.text_field :first_name, placeholder: '名', class: 'c-form-field__input'
            .c-form-field
              label.c-form-field__label 氏名（カナ）
              .c-form-field__input-group
                .c-form-field__input-group__input
                  = pf.text_field :last_name_kana, placeholder: 'セイ', class: 'c-form-field__input'
                .c-form-field__input-group__input
                  = pf.text_field :first_name_kana, placeholder: 'メイ', class: 'c-form-field__input'
            .c-form-field
              label.c-form-field__label 生年月日
              = pf.date_field :birth_date, class: 'c-form-field__input', max: Date.current.to_s
            .c-form-field
              label.c-form-field__label 性別
              = pf.select :gender, [['男性', 'male'], ['女性', 'female'], ['その他', 'other']], { include_blank: '選択してください' }, class: 'c-form-field__input c-form-field__input--select'
          .c-form-field
            label.c-form-field__label パスワード
            = f.password_field :password, placeholder: 'パスワード（任意）', class: 'c-form-field__input'
            .c-form-field__hint 8文字以上、大文字・小文字・数字を各1文字以上含む
          .c-form-field
            label.c-form-field__label 電話番号
            .c-form-field__input-group
              .c-form-field__input-group__input style="flex: 0 0 120px;"
                = select_tag :country_code, options_for_select(['+81 (日本)', '+1 (US)', '+44 (UK)', '+86 (中国)', '+82 (韓国)'].map { |c| [c, c.split(' ').first] }, '+81'), class: 'c-form-field__input c-form-field__input--select'
              .c-form-field__input-group__input
                = f.text_field :phone_number_local, placeholder: '09012345678', class: 'c-form-field__input', value: nil
    .l-page-content__content__sub.p-user-tag-form__content__sub
      .p-user-tag-form__content__sub__section
        button.p-user-tag-form__content__sub__button.p-user-tag-form__content__sub__button--submit type="submit" form="new_user_form" data-form-validation-target="submit" disabled="disabled" 登録
        = link_to admin_area_users_path, class: 'p-user-tag-form__content__sub__button p-user-tag-form__content__sub__button--cancel', data: { turbo_frame: '_top' } do
          | キャンセル
