.uk-margin-top.uk-container
  nav.uk-breadcrumb aria-label="Breadcrumb"
    li
      = link_to "テナント一覧", ruler_area_tenants_path
    li
      = link_to @tenant.name, ruler_area_tenant_root_path(@tenant)
    li
      = link_to "メンバーシップ管理", top_ruler_area_tenant_memberships_path(@tenant)
    li
      span メンバーシップ一覧

  h2 メンバーシップ一覧

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    .uk-flex.uk-flex-right.uk-margin-bottom
      = link_to "メンバーシップグループ", ruler_area_tenant_membership_groups_path(@tenant_id), class: "uk-button uk-button-secondary uk-margin-right"
      = link_to "新規登録", new_ruler_area_tenant_membership_path(@tenant_id), class: "uk-button uk-button-primary"

    - if @memberships.empty?
      p.uk-text-lead
        | No メンバーシップ found.

    - else
      table.uk-table.uk-table-divider
        tr
          th = Membership.human_attribute_name(:name)
          th = Membership.human_attribute_name(:display_name)
          th = Membership.human_attribute_name(:position)
          th = Membership.human_attribute_name(:tier)
          th = "操作"

        - @memberships.each do |membership|
          tr
            td
              = membership.name
            td
              = membership.display_name
            td
              = membership.position
            td
              = membership.tier
            td
              = link_to "詳細", ruler_area_tenant_membership_path(@tenant_id, membership), class: "uk-button uk-button-secondary"
              .uk-margin
                = link_to "編集", edit_ruler_area_tenant_membership_path(@tenant_id, membership), class: "uk-button uk-button-primary"

      == pagy_nav(@pagy)
