.uk-margin-top.uk-container
  h2 メンバーシップ詳細

  .uk-flex.uk-flex-right
    = link_to "編集", edit_ruler_area_tenant_membership_path(@tenant_id, @membership), class: "uk-button uk-button-primary"
    .uk-margin-left
    = link_to "削除", ruler_area_tenant_membership_path(@tenant_id, @membership), data: { turbo_method: :delete, turbo_confirm: "一度削除したデータを戻せません。本当に削除しますか？" }, class: 'uk-button uk-button-danger'

  table.uk-table
    tr
      th = Membership.human_attribute_name(:id)
      td
        = @membership.id
    tr
      th = Membership.human_attribute_name(:name)
      td
        = @membership.name
    tr
      th = Membership.human_attribute_name(:display_name)
      td
        = @membership.display_name
    tr
      th = Membership.human_attribute_name(:position)
      td
        = @membership.position
    tr
      th = Membership.human_attribute_name(:tier)
      td
        = @membership.tier
    tr
      th = Membership.human_attribute_name(:created_at)
      td
        = @membership.created_at
    tr
      th = Membership.human_attribute_name(:updated_at)
      td
        = @membership.updated_at
