.uk-margin-top.uk-container
  nav.uk-breadcrumb aria-label="Breadcrumb"
    li
      = link_to "テナント一覧", ruler_area_tenants_path
    li
      = link_to @tenant.name, ruler_area_tenant_root_path(@tenant)
    li
      span メンバーシップ管理

  h2 メンバーシップ管理

  .uk-margin-top.uk-grid.uk-grid-small.uk-child-width-1-3
    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title メンバーシップ一覧
      p.uk-text-meta メンバーシップの一覧を表示・管理します
      = link_to "一覧を見る", ruler_area_tenant_memberships_path(@tenant_id), class: "uk-button uk-button-primary"

    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title メンバーシッププラン設定
      p.uk-text-meta メンバーシッププランの設定を行います
      = link_to "プラン設定", ruler_area_tenant_membership_plans_path(@tenant_id), class: "uk-button uk-button-primary"

    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title メンバーシップグループ設定
      p.uk-text-meta メンバーシップグループの設定を行います
      = link_to "グループ設定", ruler_area_tenant_membership_groups_path(@tenant_id), class: "uk-button uk-button-primary"
