.uk-margin-top.uk-container
  h2 メンバーシップ管理

  .uk-margin-top.uk-grid.uk-grid-small.uk-child-width-1-3
    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title メンバーシップ一覧
      p.uk-text-meta メンバーシップの一覧を表示・管理します
      = link_to "一覧を見る", ruler_area_tenant_memberships_path(@tenant_id), class: "uk-button uk-button-primary"

    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title メンバーシッププラン設定
      p.uk-text-meta メンバーシッププランの設定を行います
      = link_to "プラン設定", ruler_area_tenant_membership_plans_path(@tenant_id), class: "uk-button uk-button-primary"

    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title メンバーシップグループ設定
      p.uk-text-meta メンバーシップグループの設定を行います
      .uk-button.uk-button-secondary.uk-disabled
        | 準備中
