h1 Edit Stripe Record Account

= render 'form'

.uk-margin
  = link_to 'Show', ruler_area_tenant_stripe_records_account_path(@tenant, @stripe_account), class: 'uk-button uk-button-secondary uk-margin-small-right'
  = link_to 'Back', ruler_area_tenant_stripe_records_accounts_path(@tenant), class: 'uk-button uk-button-secondary'
