.uk-margin-top.uk-container
  h2 Admin一覧

  .uk-margin-top.uk-card.uk-card-default.uk-card-body
    .uk-flex.uk-flex-right
      = link_to "新規登録", new_admin_area_admin_path, class: "uk-button uk-button-primary"
    - if @admins.empty?
      p.uk-text-lead
        | No admins found
    - else
      table.uk-table.uk-table-divider
        tr
          th = Admin.human_attribute_name(:id)
          th = Admin.human_attribute_name(:email)
          th = Admin.human_attribute_name(:name)
          th = Admin.human_attribute_name(:uid)
        - @admins.each do |admin|
          tr
            td
              = admin.id
            td
              = admin.email
            td
              = admin.name
            td
              = admin.uid

    == pagy_nav(@pagy)
