doctype html
html lang='ja'
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'
    meta http-equiv='content-language' content='ja'
    / title = Tenant.current.name
    title = "Tenant.current.name"
    / link rel='icon' href=vite_asset_path('images/ruler_area/favicon.svg')
    = vite_client_tag
    = vite_typescript_tag 'entrypoints/ruler_area/application'
    = csrf_meta_tags
  body.l-page
    .l-page-sidebar
        .uk-width-medium.uk-height-1-1.uk-section-secondary
          .uk-container.uk-height-1-1
            h3.uk-padding.uk-padding-remove-horizontal
              = Tenant.current.name
            / .tg-sidebar-section
            /   ul.uk-nav.uk-nav-default
            /     ul.uk-parent
            /       = link_to 'OAuth設定', ruler_area_oauth_applications_path
            /       ul.uk-nav-sub
            /         li
            /           = link_to 'OAuth Application', ruler_area_oauth_applications_path
            .tg-sidebar-section.bottom
              ul.uk-nav.uk-nav-default
                li アカウント
                li = @current_ruler&.email
                li = link_to 'ログアウト', ruler_area_logout_path

    .l-page-contents
      = render 'layouts/ruler_area/flash'
      = yield
