h1 New Tenant Stripe Account

= render 'form', tenant_stripe_account: @tenant_stripe_account

.uk-margin
  = link_to 'Back', ruler_area_tenant_tenant_stripe_account_path(@tenant), class: 'uk-button uk-button-secondary'
