@use '../component/detail-section.scss' as detail-section;
@use './user-show/plan.scss';
@use './user-show/memo-tag-activity.scss';
@use './user-show/onetime-plan.scss';

.p-user-show {
  display: contents;

  &__content {
    padding: 24px;

    &__left {
      display: grid;
      gap: 24px;
    }

    &__right {
      display: grid;
      gap: 24px;
    }

    &__section {
      @include detail-section.c-detail-section;
    }
  }
}

