// ユーザータグフォーム（新規作成・編集）
.p-user-tag-form {
  display: contents;

  &__breadcrumb {
    grid-column: 1 / -1;
  }

  &__content {
    &__main {
      padding: 24px;
      display: grid;
      gap: 16px;
      align-content: start;
    }

    &__sub {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-content: start;

      &__button {
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 14px;
        border: 1px solid var(--color-border);
        background-color: var(--color-background);
        color: var(--color-text-body);
        cursor: pointer;
        transition: background-color 0.2s, border-color 0.2s;
        box-shadow: var(--box-shadow);
        text-decoration: none;
        text-align: center;
        display: block;
        box-sizing: border-box;
        width: 100%;

        &:hover {
          background-color: var(--color-background-gray);
        }

        &--submit {
          background-color: var(--color-primary);
          color: var(--color-primary-contrast);
          border-color: var(--color-primary);

          &:hover {
            background-color: var(--color-text-heading);
            border-color: var(--color-text-heading);
          }
        }

        &--cancel {
          background-color: var(--color-background);
          color: var(--color-text-inactive);
          border-color: var(--color-border);

          &:hover {
            background-color: var(--color-background-gray);
            color: var(--color-text-inactive); // UIKitとの競合回避のため明示的に指定
          }
        }
      }
    }
  }
}

