@use '../component/detail-section.scss' as detail-section;
@use './user-show/plan.scss';
@use './user-show/memo-tag-activity.scss';
@use './user-show/onetime-plan.scss';

.p-user-show {
  display: contents;
  &__breadcrumb {
    grid-column: 1 / -1;
  }
  &__content {
    &__main,
    &__sub {
      padding: 16px;
      display: grid;
      gap: 16px;
      align-content: start;
    }
    &__section {
      @include detail-section.c-detail-section;
    }
  }
}

